
package ${model.packageName}.service.impl;


import ${model.packageName}.pojo.${model.modelName};
import ${model.packageName}.service.I${model.modelName}Service;
import javax.annotation.Resource;
import org.springframework.stereotype.Service;
import com.innofi.framework.dao.DaoSupport;
import com.innofi.framework.service.impl.BaseServiceImpl;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.transaction.annotation.Propagation;


/**
* ${model.modelName}服务实现类
* @author  liumy2009@126.com
* @version V1.0.0
* 修订历史：
* 日期  作者  参考  描述
* 北京瑞银信管理顾问有限公司版权所有.
*/
@Transactional(propagation = Propagation.REQUIRED, rollbackFor = {Exception.class, RuntimeException.class})
@Service(value="${model.beanName}Service")
public class ${model.modelName}ServiceImpl  extends BaseServiceImpl<${model.modelName},String> implements I${model.modelName}Service {
	
	@Resource(name="${model.beanName}DaoSupport")
	protected DaoSupport daoSupport;

	public DaoSupport getDaoSupport(){
		return daoSupport;
	}

}

